header {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.slider-div {
    text-align: center;
    margin-top: 10px;
}

p {
    text-align: justify;
}